:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkest);
}

#app {
    background-color: var(--dark);
    width: 500px;
    margin: 0 auto;
    border: solid 1px var(--gray);
    padding: 20px;
}
.title-app {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
    color: var(--light);
    text-decoration: underline;
}

#time {
    text-align: center;
    padding: 20px 0;
    color: var(--light);
}

#time #value {
    font-size: 48px;
    font-weight: bolder;
}

#taskName {
    color: var(--light);
}

.form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding:10px;
    border:solid 2px var(--gray);
    width: 370px;
    border-radius: 5px;
    background-color: var(--light);
}

input[type="submit"] {
    border-color: var(--light);
    background-color: var(--dark);
    color: var(--light);
    padding: 9px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: var(--darker);
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darker);
    border:solid 1px var(--gray);
    border-radius: 5px;
}


.completed {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.title {
    color: var(--light);
    padding-left: 8px;
}
.start-button {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--dark);
    border-radius: 5px;
    padding: 5px;
}

.start-button:hover{
    background-color: var(--darker);
}

.done {
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
    color: rgb(105, 233, 105);
}


@media only screen and (max-width: 560px){
    #app {
        width: 80%;
        border: solid 1px var(--gray);
        padding: 20px;
    }
    input[type="text"] {
        padding:10px;
        border:solid 2px var(--gray);
        width: 57%;
        border-radius: 5px;
        background-color: var(--light);
    }
    
    input[type="submit"] {
        border-color: var(--light);
        background-color: var(--dark);
        color: var(--light);
        padding: 8px;
        border-radius: 5px;
    }
}